{{page-title (t "common.title")}}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <LinkTo @route="welcome" class="navbar-brand">{{t 'common.title'}}</LinkTo>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <LinkTo @route="authors" class="nav-link">{{t 'routes.authors'}}</LinkTo>
                </li>
                <li class="nav-item">
                    <LinkTo @route="books" class="nav-link">{{t 'routes.books'}}</LinkTo>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container-md p-2">
    {{outlet}}
</section>